@import 'settings/settings.core'
@import 'settings/settings.color'

@import 'tools/tools.reset-list'

@import 'generic/generic.normalize'
@import 'generic/generic.reset'
@import 'generic/generic.box-sizing'
@import 'generic/generic.shared'
@import 'generic/generic.a'
@import 'generic/generic.blockquote'

@import 'elements/elements.core'
@import 'elements/elements.headings'
@import 'elements/elements.link'

@import 'objects/objects.layout'

@import 'components/components.competence'
@import 'components/components.header'
@import 'components/components.hljs'
@import 'components/components.clickable'

@import 'utilities/utilities.a11y'