@import url(https://rsms.me/inter/inter-ui.css);

html{
  background-color:black;
  min-height: 100vh;
  margin-left:1em;
  margin-right:1em;
}
*{box-sizing: border-box;}
body{
  color:#fff;
  font-family: 'Inter UI', sans-serif;
  font-weight:400;
  max-width:30em;
  font-size: 24px;
  margin:auto;

}
h1,h2{display:none}
ul{line-height:1.5;}
li{
  margin-bottom:.25em;
}

.link{
  font-weight:bold;
  background-color:rgba(255,255,255,.1);
  border-radius:.25em;
  padding:.0em .25em;
  display: inline-block;

  color:#7FDBFF;
  text-decoration:underline;
  transition:box-shadow .4s, transform .4s;
}
.link:visited {
  color:#0074D9;
}
.link:hover{
  color:#fff;
  background-color:rgba(255,255,255,.25);

  text-decoration:none;
  box-shadow: .25em .25em 0 #333;
  transform: translate(-0.25em, -0.25em);
}

.etc__item{
  margin-right:.25em;
}

.button{
  border:0;
  border-radius:1.25em;
  background-color: #333;
  color:white;
  padding:.25em .5em;
  display: inline-block;
  text-decoration: none;
}
.button:hover{
  background-color:lightblue;
  color:#111;
}

.card{
  display:inline-block;
  background-color:rgba(255,255,255,.05);
  border-radius: .25em;
  box-shadow: .25em .25em 0 #333, .5em .5em 0 #111;
  border: .1em solid #666;
  padding:.25em 1em;
  margin-top:1em;
  margin-bottom:1em;
  max-width:15em;
  margin-right:1em;
  vertical-align:top;
  transform:translate(-0.25em, -0.25em);
  transition:transform .4s, box-shadow .4s;
}
.card:hover{
  box-shadow: 0 0 0 #333, .25em .25em 0 #111;
  transform:translate(0, 0);
}

@media(max-width:768px){
  .card{
    width:100%;
  }
}

.bg-grey{
  background-color:;
}