@import url(https://rsms.me/inter/inter-ui.css);

html{
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  min-height: 100vh;
}
*{box-sizing: border-box;}
body{
  color:#111;
  font-family: 'Inter UI', sans-serif;
  font-weight:400;
  max-width:20em;
  margin:auto;
}
h1,h2{display:none}
ul{line-height:1.5}

.link:not(.button){
  font-weight:bold;
  color:#777;
  text-decoration:none;
  box-shadow:inset 0 -0.5em 0 rgba(0,0,0,.1);
  transition:box-shadow .25s;
}
.link:hover{
  color:inherit;
  box-shadow:inset 0 -0.75em 0 rgba(0,0,0,.1);
}
.link:visited {
  color:inherit;
}

.button{
  border:0;
  border-radius:1.25em;
  background-color: #333;
  color:white;
  padding:.25em .5em;
  display: inline-block;
  text-decoration: none;
}
.button:hover{
  background-color:lightblue;
  color:#111;
}