@import url('/font/Inter/inter.css');

html 
  font-family: 'Inter', sans-serif;

  @supports (font-variation-settings: normal) 
    font-family: 'Inter var', sans-serif;
  
body 
  margin: 0;
  padding: 0;
  font-size: 150%;
  line-height: 1.5;
  padding-bottom: 4rem;

