h1, h2
  margin-top: $global-spacing-unit * 2;

h3, h4, h5, h6
  margin-top: $global-spacing-unit * 1.5;

address,
blockquote, pre, p,
dl, ol, ul,
figure,
hr,
table,
fieldset 
  margin-top: $global-spacing-unit;

li
  margin-top: ($global-spacing-unit / 2);

dd, ol, ul
  margin-left: $global-spacing-unit * 2;

h1, h2, h3, h4, h5, h6
  a
    display:none;

h2 
  font-size: 1.75rem;
h3 
  font-size: 1.5rem;

p
  font-size: 1.5rem;
  hyphens: auto;

img
  max-width: 100%;
  border-radius: .25rem;



